body {
  margin: 35px;
  font-family: Arial, sans-serif;
}

input {
  width: 50px;
  margin-bottom: 8px;
  height: 20px;
}

button {
  height: 28px;
}
.coord4 {
  display: none;
}

.res {
  border: 1px dotted green;
  padding: 5px;
  margin-left: 5px;
}
.divisor {
  margin-top: 10px;
  margin-bottom: 10px;
}